:root {
  line-height: 1.5;
}

pre, code {
  line-height: 1.2 !important;
}

pre {
  border-radius: .5rem;
  padding: .5rem .8rem;
  font-family: Söhne Mono, Monaco, Andale Mono, Ubuntu Mono, monospace !important;
}

code {
  margin: 1rem 0;
  font-size: .85rem !important;
  padding: 0;
}

ol, ul {
  padding-left: 2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  all: unset;
}
